In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import split, explode,regexp_replace,col,lower, monotonically_increasing_id,lit, when

In [2]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

# Preprocess

## Shakespare

In [3]:
# Read file
shakespeare = spark.read.text("shakespeare.txt")

# Remove whitespace rows
shakespeare = shakespeare.filter("value != ''")

# Added new column "words" which splits the content of each row into arrays of strings
shakespeare = shakespeare.withColumn("words", split(shakespeare["value"], " "))

# Convert those words to each rows
shakespeare = shakespeare.select("value", explode(shakespeare["words"]).alias("word"))
shakespeare = shakespeare.select("word").filter("word != ''")

# # Remove punctuation
shakespeare = shakespeare.withColumn("no_punc", regexp_replace(col("word"), r'[^\w\s]', ''))
shakespeare = shakespeare.select("no_punc")

# # Generelize to all lower case
shakespeare = shakespeare.select("no_punc", lower(shakespeare["no_punc"]))
shakespeare = shakespeare.select("lower(no_punc)")
shakespeare = shakespeare.withColumnRenamed("lower(no_punc)","value")

shakespeare.show()

+-----------+
|      value|
+-----------+
|       1609|
|        the|
|    sonnets|
|         by|
|    william|
|shakespeare|
|          1|
|       from|
|    fairest|
|  creatures|
|         we|
|     desire|
|   increase|
|       that|
|    thereby|
|    beautys|
|       rose|
|      might|
|      never|
|        die|
+-----------+
only showing top 20 rows

## Verbs

In [4]:
verbs = spark.read.text("all_verbs.txt")

In [5]:
verbs.show()

+---------+
|    value|
+---------+
|    abash|
|  abashed|
|  abashed|
|  abashes|
| abashing|
|    abate|
|   abated|
|   abated|
|   abates|
|  abating|
|    abide|
|    abode|
|    abode|
|   abides|
|  abiding|
|   absorb|
| absorbed|
| absorbed|
|  absorbs|
|absorbing|
+---------+
only showing top 20 rows

# Manipulate Shakespeare

In [6]:
# Filter based on verbs
filtered_shakes = shakespeare.join(verbs,"value","inner")
filtered_shakes = filtered_shakes.withColumn("count", lit(1))

In [7]:
# Group by verbs to aggregate verb occurences & rename column
filtered_shakes = filtered_shakes.groupBy("value").sum("count")
filtered_shakes = filtered_shakes.withColumnRenamed("sum(count)","count")

In [8]:
filtered_shakes.filter("value == 'float'").show()

+-----+-----+
|value|count|
+-----+-----+
|float|    2|
+-----+-----+

## Verb dictionary

In [9]:
# Give index on each dictionary & remove any duplicates
verb_dict = spark.read.text("verb_dict.txt")
verb_dict = verb_dict.withColumn("row_id", monotonically_increasing_id())
verb_dict = verb_dict.withColumn("split_line", split(verb_dict["value"], ","))
verb_dict = verb_dict.select("row_id", "split_line")
verb_dict = verb_dict.selectExpr("row_id", "explode(split_line) as form")
verb_dict = verb_dict.dropDuplicates(['row_id', 'form'])
verb_dict.filter(verb_dict.form  == "be").show(truncate=False)

+------+----+
|row_id|form|
+------+----+
|50    |be  |
|49    |be  |
|47    |be  |
|48    |be  |
+------+----+

In [10]:
# Combine all "be" combinations to one index
condition = (col("row_id") == 49)
updated_df = verb_dict.withColumn("row_id", when(condition, 50).otherwise(col("row_id")))
condition = (col("row_id") == 47)
updated_df = updated_df.withColumn("row_id", when(condition, 50).otherwise(col("row_id")))
condition = (col("row_id") == 48)
updated_df = updated_df.withColumn("row_id", when(condition, 50).otherwise(col("row_id")))

In [11]:
#Check
updated_df.filter(updated_df.row_id  == 49).show(truncate=False)
updated_df.filter(updated_df.row_id  == 50).show(truncate=False)

+------+----+
|row_id|form|
+------+----+
+------+----+

+------+-----+
|row_id|form |
+------+-----+
|50    |be   |
|50    |be   |
|50    |were |
|50    |being|
|50    |was  |
|50    |be   |
|50    |being|
|50    |been |
|50    |been |
|50    |was  |
|50    |been |
|50    |be   |
|50    |am   |
|50    |been |
|50    |are  |
|50    |is   |
|50    |being|
|50    |being|
+------+-----+

In [12]:
# Delete duplicates & rename
updated_df = updated_df.dropDuplicates(['row_id', 'form'])
updated_df = updated_df.withColumnRenamed("form","value")
updated_df.filter(updated_df.row_id  == 50).show(truncate=False)

+------+-----+
|row_id|value|
+------+-----+
|50    |be   |
|50    |am   |
|50    |were |
|50    |being|
|50    |is   |
|50    |was  |
|50    |been |
|50    |are  |
+------+-----+

In [13]:
# Count verb occurences
count = shakespeare.join(updated_df,"value","inner")
count.filter(count.value  == "die").show(truncate=False)
result = count.groupBy("row_id").count()
result.show()

+-----+------+
|value|row_id|
+-----+------+
|die  |242   |
|die  |242   |
|die  |242   |
|die  |242   |
|die  |242   |
|die  |242   |
|die  |242   |
|die  |242   |
|die  |242   |
|die  |242   |
|die  |242   |
|die  |242   |
|die  |242   |
|die  |242   |
|die  |242   |
|die  |242   |
|die  |242   |
|die  |242   |
|die  |242   |
|die  |242   |
+-----+------+
only showing top 20 rows

+------+-----+
|row_id|count|
+------+-----+
|   474|   15|
|    26|   26|
|   964|    5|
|    29|   21|
|   418|   13|
|   541|   10|
|    65|  226|
|   558|   29|
|   293|   58|
|   938|   15|
|   270|  278|
|   730|   12|
|   222|   73|
|   278|  198|
|   720|   29|
|   243|    8|
|   926|   62|
|    19|   40|
|   965|   84|
|    54|    6|
+------+-----+
only showing top 20 rows

In [14]:
# Make lookup table
lookup = spark.read.text("verb_dict.txt")
lookup = lookup.withColumn("row_id", monotonically_increasing_id())
split_col = split(col("value"), ",")
lookup = lookup.withColumn("first_value", split_col.getItem(0))
lookup = lookup.select(["row_id","first_value"])
lookup = lookup.withColumnRenamed("first_value","value")

In [15]:
lookup.show()

+------+---------+
|row_id|    value|
+------+---------+
|     0|    abash|
|     1|    abate|
|     2|    abide|
|     3|   absorb|
|     4|   accept|
|     5|accompany|
|     6|     ache|
|     7|  achieve|
|     8|  acquire|
|     9|      act|
|    10|      add|
|    11|  address|
|    12|   adjust|
|    13|   admire|
|    14|    admit|
|    15|   advise|
|    16|   afford|
|    17|    agree|
|    18|   alight|
|    19|    allow|
+------+---------+
only showing top 20 rows

In [16]:
#replace index with lookup
final = lookup.join(result,"row_id","inner")
final = final.select(["value","count"])

In [17]:
final.show()

+---------+-----+
|    value|count|
+---------+-----+
|   insult|   15|
|    apply|   26|
|      vie|    5|
|    argue|   21|
|  imitate|   13|
|   misuse|   10|
|  beseech|  226|
|      nod|   29|
|     envy|   58|
|translate|   15|
|    drink|  278|
| sanctify|   12|
|     deal|   73|
|      eat|  198|
|sacrifice|   29|
|   differ|    8|
|   thrive|   62|
|    allow|   40|
|     view|   84|
| beautify|    6|
+---------+-----+
only showing top 20 rows

In [25]:
final.filter(final.value  == "float").show(truncate=False)

+-----+-----+
|value|count|
+-----+-----+
|float|5    |
+-----+-----+

In [19]:
final.rdd.collect()

[Row(value='insult', count=15),
 Row(value='apply', count=26),
 Row(value='vie', count=5),
 Row(value='argue', count=21),
 Row(value='imitate', count=13),
 Row(value='misuse', count=10),
 Row(value='beseech', count=226),
 Row(value='nod', count=29),
 Row(value='envy', count=58),
 Row(value='translate', count=15),
 Row(value='drink', count=278),
 Row(value='sanctify', count=12),
 Row(value='deal', count=73),
 Row(value='eat', count=198),
 Row(value='sacrifice', count=29),
 Row(value='differ', count=8),
 Row(value='thrive', count=62),
 Row(value='allow', count=40),
 Row(value='view', count=84),
 Row(value='beautify', count=6),
 Row(value='free', count=189),
 Row(value='endure', count=81),
 Row(value='split', count=23),
 Row(value='earn', count=11),
 Row(value='illustrate', count=3),
 Row(value='rain', count=62),
 Row(value='learn', count=132),
 Row(value='contend', count=21),
 Row(value='charge', count=225),
 Row(value='chase', count=37),
 Row(value='heave', count=15),
 Row(value='exclude', count=1),
 Row(value='consign', count=4),
 Row(value='own', count=774),
 Row(value='frame', count=55),
 Row(value='destroy', count=27),
 Row(value='perish', count=34),
 Row(value='state', count=323),
 Row(value='obey', count=83),
 Row(value='answer', count=429),
 Row(value='cover', count=43),
 Row(value='measure', count=111),
 Row(value='flee', count=90),
 Row(value='sail', count=68),
 Row(value='count', count=142),
 Row(value='kiss', count=262),
 Row(value='kill', count=258),
 Row(value='smile', count=154),
 Row(value='clutch', count=3),
 Row(value='toss', count=6),
 Row(value='achieve', count=18),
 Row(value='blush', count=82),
 Row(value='print', count=20),
 Row(value='melt', count=56),
 Row(value='cook', count=20),
 Row(value='multiply', count=8),
 Row(value='squeeze', count=3),
 Row(value='trap', count=6),
 Row(value='copy', count=17),
 Row(value='climb', count=33),
 Row(value='mean', count=652),
 Row(value='suffer', count=113),
 Row(value='dedicate', count=13),
 Row(value='spill', count=12),
 Row(value='crash', count=1),
 Row(value='dump', count=7),
 Row(value='do', count=6416),
 Row(value='fit', count=210),
 Row(value='preach', count=7),
 Row(value='yawn', count=8),
 Row(value='be', count=26727),
 Row(value='immure', count=5),
 Row(value='pay', count=234),
 Row(value='progress', count=13),
 Row(value='vary', count=13),
 Row(value='put', count=570),
 Row(value='delay', count=45),
 Row(value='dwell', count=68),
 Row(value='forlese', count=18),
 Row(value='imprison', count=8),
 Row(value='sway', count=45),
 Row(value='rid', count=32),
 Row(value='preserve', count=28),
 Row(value='challenge', count=50),
 Row(value='correspond', count=1),
 Row(value='sate', count=3),
 Row(value='compare', count=29),
 Row(value='limp', count=7),
 Row(value='transfer', count=1),
 Row(value='beg', count=110),
 Row(value='snatch', count=19),
 Row(value='hide', count=191),
 Row(value='confine', count=33),
 Row(value='vex', count=24),
 Row(value='respect', count=133),
 Row(value='need', count=329),
 Row(value='arrest', count=41),
 Row(value='bang', count=1),
 Row(value='break', count=458),
 Row(value='happen', count=9),
 Row(value='cure', count=69),
 Row(value='wander', count=25),
 Row(value='separate', count=9),
 Row(value='screw', count=2),
 Row(value='look', count=1081),
 Row(value='utter', count=52),
 Row(value='handle', count=21),
 Row(value='recall', count=2),
 Row(value='hope', count=417),
 Row(value='watch', count=200),
 Row(value='chip', count=1),
 Row(value='search', count=49),
 Row(value='fix', count=24),
 Row(value='suppose', count=54),
 Row(value='help', count=338),
 Row(value='pass', count=204),
 Row(value='infect', count=46),
 Row(value='paste', count=5),
 Row(value='call', count=686),
 Row(value='laugh', count=111),
 Row(value='cope', count=9),
 Row(value='spin', count=6),
 Row(value='attract', count=3),
 Row(value='notify', count=2),
 Row(value='wind', count=302),
 Row(value='depend', count=33),
 Row(value='hurry', count=10),
 Row(value='seem', count=353),
 Row(value='violate', count=7),
 Row(value='verify', count=8),
 Row(value='crave', count=70),
 Row(value='cheer', count=81),
 Row(value='kneel', count=106),
 Row(value='confiscate', count=6),
 Row(value='strike', count=285),
 Row(value='sleep', count=387),
 Row(value='applaud', count=14),
 Row(value='try', count=110),
 Row(value='spend', count=142),
 Row(value='go', count=2575),
 Row(value='cleave', count=13),
 Row(value='overtake', count=8),
 Row(value='convict', count=2),
 Row(value='repeat', count=16),
 Row(value='sprout', count=1),
 Row(value='think', count=1504),
 Row(value='decrease', count=3),
 Row(value='dress', count=28),
 Row(value='nourish', count=11),
 Row(value='buy', count=161),
 Row(value='retain', count=8),
 Row(value='pacify', count=3),
 Row(value='greet', count=78),
 Row(value='teach', count=172),
 Row(value='inform', count=27),
 Row(value='scatter', count=16),
 Row(value='tap', count=3),
 Row(value='illuminate', count=1),
 Row(value='shine', count=90),
 Row(value='confess', count=133),
 Row(value='review', count=2),
 Row(value='grind', count=169),
 Row(value='practise', count=22),
 Row(value='bite', count=68),
 Row(value='prosecute', count=4),
 Row(value='cost', count=49),
 Row(value='govern', count=30),
 Row(value='constrain', count=7),
 Row(value='include', count=4),
 Row(value='forgive', count=81),
 Row(value='bid', count=465),
 Row(value='rot', count=23),
 Row(value='ache', count=21),
 Row(value='bring', count=710),
 Row(value='bleed', count=73),
 Row(value='scare', count=5),
 Row(value='stand', count=847),
 Row(value='fight', count=374),
 Row(value='begin', count=247),
 Row(value='recite', count=1),
 Row(value='study', count=93),
 Row(value='disturb', count=13),
 Row(value='display', count=4),
 Row(value='draw', count=385),
 Row(value='write', count=217),
 Row(value='cause', count=352),
 Row(value='strive', count=54),
 Row(value='impeach', count=11),
 Row(value='drive', count=76),
 Row(value='dazzle', count=6),
 Row(value='shed', count=57),
 Row(value='tend', count=44),
 Row(value='feed', count=145),
 Row(value='wake', count=92),
 Row(value='act', count=384),
 Row(value='nap', count=7),
 Row(value='touch', count=169),
 Row(value='bend', count=104),
 Row(value='scant', count=16),
 Row(value='shoot', count=85),
 Row(value='approach', count=93),
 Row(value='start', count=59),
 Row(value='hug', count=7),
 Row(value='hinder', count=16),
 Row(value='value', count=44),
 Row(value='consort', count=19),
 Row(value='bear', count=908),
 Row(value='befall', count=33),
 Row(value='return', count=226),
 Row(value='converse', count=28),
 Row(value='please', count=438),
 Row(value='derive', count=19),
 Row(value='forget', count=204),
 Row(value='summon', count=23),
 Row(value='detect', count=8),
 Row(value='conquer', count=33),
 Row(value='ooze', count=6),
 Row(value='educate', count=1),
 Row(value='bear', count=822),
 Row(value='play', count=367),
 Row(value='found', count=226),
 Row(value='resist', count=16),
 Row(value='confuse', count=6),
 Row(value='inhabit', count=13),
 Row(value='steep', count=13),
 Row(value='indent', count=3),
 Row(value='overflow', count=2),
 Row(value='roll', count=17),
 Row(value='triumph', count=57),
 Row(value='contrive', count=17),
 Row(value='smooth', count=40),
 Row(value='contract', count=38),
 Row(value='boast', count=42),
 Row(value='crush', count=14),
 Row(value='agree', count=45),
 Row(value='desire', count=312),
 Row(value='carve', count=19),
 Row(value='win', count=224),
 Row(value='satiate', count=1),
 Row(value='discuss', count=6),
 Row(value='lie', count=600),
 Row(value='part', count=690),
 Row(value='dye', count=8),
 Row(value='dim', count=17),
 Row(value='complain', count=22),
 Row(value='die', count=726),
 Row(value='wax', count=33),
 Row(value='salute', count=23),
 Row(value='sling', count=2),
 Row(value='avoid', count=48),
 Row(value='swim', count=21),
 Row(value='leak', count=3),
 Row(value='ask', count=180),
 Row(value='hear', count=1336),
 Row(value='approve', count=45),
 Row(value='dine', count=29),
 Row(value='distribute', count=3),
 Row(value='crowd', count=10),
 Row(value='light', count=292),
 Row(value='lead', count=265),
 Row(value='cross', count=77),
 Row(value='produce', count=21),
 Row(value='refer', count=4),
 Row(value='eye', count=1109),
 Row(value='slay', count=191),
 Row(value='seat', count=78),
 Row(value='describe', count=5),
 Row(value='stick', count=63),
 Row(value='sob', count=7),
 Row(value='push', count=25),
 Row(value='initiate', count=1),
 Row(value='thrust', count=65),
 Row(value='pull', count=21),
 Row(value='imply', count=1),
 Row(value='rely', count=6),
 Row(value='pause', count=39),
 Row(value='chat', count=13),
 Row(value='rub', count=19),
 Row(value='survive', count=11),
 Row(value='accompany', count=18),
 Row(value='shock', count=9),
 Row(value='hush', count=14),
 Row(value='surmise', count=11),
 Row(value='miss', count=33),
 Row(value='swallow', count=37),
 Row(value='fetch', count=127),
 Row(value='abate', count=18),
 Row(value='check', count=38),
 Row(value='conserve', count=5),
 Row(value='save', count=252),
 Row(value='stay', count=476),
 Row(value='hang', count=267),
 Row(value='direct', count=49),
 Row(value='buzz', count=15),
 Row(value='thump', count=6),
 Row(value='suggest', count=13),
 Row(value='spray', count=4),
 Row(value='guide', count=41),
 Row(value='press', count=39),
 Row(value='cool', count=44),
 Row(value='freeze', count=26),
 Row(value='live', count=856),
 Row(value='grant', count=145),
 Row(value='tree', count=83),
 Row(value='dare', count=268),
 Row(value='pray', count=755),
 Row(value='solicit', count=20),
 Row(value='waylay', count=2),
 Row(value='cash', count=1),
 Row(value='cut', count=194),
 Row(value='inherit', count=21),
 Row(value='sack', count=61),
 Row(value='mislead', count=12),
 Row(value='strain', count=42),
 Row(value='neglect', count=40),
 Row(value='partake', count=9),
 Row(value='discover', count=50),
 Row(value='slink', count=4),
 Row(value='sing', count=278),
 Row(value='add', count=70),
 Row(value='impart', count=14),
 Row(value='lean', count=51),
 Row(value='tremble', count=63),
 Row(value='choke', count=21),
 Row(value='soothe', count=6),
 Row(value='scab', count=5),
 Row(value='make', count=2892),
 Row(value='mow', count=12),
 Row(value='brush', count=4),
 Row(value='prove', count=284),
 Row(value='glitter', count=6),
 Row(value='mind', count=432),
 Row(value='leap', count=42),
 Row(value='inflame', count=6),
 Row(value='shape', count=119),
 Row(value='water', count=163),
 Row(value='yield', count=199),
 Row(value='hurt', count=104),
 Row(value='knock', count=132),
 Row(value='stoop', count=42),
 Row(value='gash', count=9),
 Row(value='test', count=5),
 Row(value='course', count=176),
 Row(value='rest', count=367),
 Row(value='lay', count=415),
 Row(value='talk', count=238),
 Row(value='close', count=115),
 Row(value='injure', count=1),
 Row(value='sow', count=11),
 Row(value='change', count=195),
 Row(value='breathe', count=103),
 Row(value='open', count=171),
 Row(value='slide', count=10),
 Row(value='catch', count=112),
 Row(value='sting', count=44),
 Row(value='float', count=5),
 Row(value='swear', count=486),
 Row(value='moult', count=1),
 Row(value='shorten', count=9),
 Row(value='type', count=3),
 Row(value='convert', count=21),
 Row(value='read', count=322),
 Row(value='nurse', count=213),
 Row(value='extend', count=23),
 Row(value='induce', count=6),
 Row(value='nip', count=7),
 Row(value='lose', count=493),
 Row(value='betray', count=48),
 Row(value='refuse', count=38),
 Row(value='undo', count=91),
 Row(value='scar', count=26),
 Row(value='decide', count=3),
 Row(value='jump', count=19),
 Row(value='throw', count=197),
 Row(value='scold', count=16),
 Row(value='conduct', count=51),
 Row(value='fish', count=52),
 Row(value='contest', count=1),
 Row(value='disobey', count=4),
 Row(value='matter', count=381),
 Row(value='diminish', count=3),
 Row(value='withdraw', count=42),
 Row(value='order', count=104),
 Row(value='spread', count=31),
 Row(value='cast', count=102),
 Row(value='ferry', count=1),
 Row(value='work', count=231),
 Row(value='shrink', count=24),
 Row(value='quit', count=50),
 Row(value='cease', count=51),
 Row(value='dance', count=98),
 Row(value='train', count=82),
 Row(value='forecast', count=1),
 Row(value='trust', count=196),
 Row(value='plod', count=8),
 Row(value='mistake', count=82),
 Row(value='collect', count=13),
 Row(value='fail', count=76),
 Row(value='banish', count=74),
 Row(value='signal', count=11),
 Row(value='forsake', count=39),
 Row(value='renew', count=15),
 Row(value='clean', count=23),
 Row(value='saw', count=267),
 Row(value='propose', count=16),
 Row(value='murmur', count=8),
 Row(value='cling', count=3),
 Row(value='paint', count=90),
 Row(value='cry', count=381),
 Row(value='creep', count=54),
 Row(value='worry', count=4),
 Row(value='note', count=197),
 Row(value='rend', count=25),
 Row(value='fulfil', count=7),
 Row(value='wed', count=56),
 Row(value='declare', count=8),
 Row(value='finish', count=12),
 Row(value='hate', count=227),
 Row(value='heal', count=17),
 Row(value='smell', count=72),
 Row(value='slip', count=29),
 Row(value='shoe', count=36),
 Row(value='reply', count=39),
 Row(value='scorch', count=3),
 Row(value='dip', count=5),
 Row(value='dash', count=14),
 Row(value='believe', count=248),
 Row(value='send', count=573),
 Row(value='travel', count=45),
 Row(value='worship', count=114),
 Row(value='harm', count=110),
 Row(value='whisper', count=55),
 Row(value='obstruct', count=1),
 Row(value='forbid', count=87),
 Row(value='question', count=166),
 Row(value='corrupt', count=50),
 Row(value='omit', count=17),
 Row(value='install', count=1),
 Row(value='improve', count=1),
 Row(value='speed', count=256),
 Row(value='consist', count=9),
 Row(value='present', count=282),
 Row(value='owe', count=106),
 Row(value='proceed', count=116),
 Row(value='spit', count=35),
 Row(value='use', count=370),
 Row(value='tread', count=70),
 Row(value='rule', count=63),
 Row(value='encourage', count=5),
 Row(value='weep', count=280),
 Row(value='wear', count=319),
 Row(value='import', count=38),
 Row(value='step', count=61),
 Row(value='operate', count=2),
 Row(value='have', count=7848),
 Row(value='invent', count=9),
 Row(value='justify', count=11),
 Row(value='crib', count=2),
 Row(value='ponder', count=1),
 Row(value='sell', count=82),
 Row(value='enter', count=2118),
 Row(value='glow', count=11),
 Row(value='bray', count=3),
 Row(value='know', count=2251),
 Row(value='tempt', count=55),
 Row(value='sweep', count=18),
 Row(value='race', count=17),
 Row(value='understand', count=133),
 Row(value='escape', count=27),
 Row(value='crack', count=39),
 Row(value='gainsay', count=7),
 Row(value='treasure', count=55),
 Row(value='moan', count=25),
 Row(value='smother', count=10),
 Row(value='conclude', count=51),
 Row(value='stride', count=10),
 Row(value='stare', count=20),
 Row(value='engrave', count=1),
 Row(value='guard', count=176),
 Row(value='become', count=238),
 Row(value='ply', count=11),
 Row(value='treat', count=4),
 Row(value='stop', count=118),
 Row(value='find', count=809),
 Row(value='receive', count=139),
 Row(value='lade', count=6),
 Row(value='blossom', count=18),
 Row(value='support', count=15),
 Row(value='wring', count=26),
 Row(value='hiss', count=13),
 Row(value='like', count=1757),
 Row(value='belong', count=40),
 Row(value='fly', count=324),
 Row(value='reach', count=30),
 Row(value='acquire', count=3),
 Row(value='convince', count=7),
 Row(value='take', count=1594),
 Row(value='seek', count=312),
 Row(value='roar', count=61),
 Row(value='fling', count=11),
 Row(value='say', count=2356),
 Row(value='join', count=60),
 Row(value='swell', count=43),
 Row(value='contradict', count=7),
 Row(value='sight', count=220),
 Row(value='run', count=295),
 Row(value='pardon', count=309),
 Row(value='enlarge', count=10),
 Row(value='address', count=12),
 Row(value='impress', count=8),
 Row(value='select', count=2),
 Row(value='listen', count=16),
 Row(value='notice', count=30),
 Row(value='prohibit', count=1),
 Row(value='lick', count=10),
 Row(value='grip', count=1),
 Row(value='shun', count=27),
 Row(value='satisfy', count=78),
 Row(value='inquire', count=15),
 Row(value='contemn', count=7),
 Row(value='dive', count=9),
 Row(value='scan', count=1),
 Row(value='praise', count=237),
 Row(value='sink', count=48),
 Row(value='sentence', count=45),
 Row(value='seize', count=36),
 Row(value='boil', count=13),
 Row(value='fill', count=95),
 Row(value='share', count=35),
 Row(value='hunt', count=58),
 Row(value='hatch', count=16),
 Row(value='scald', count=13),
 Row(value='sneak', count=6),
 Row(value='love', count=2501),
 Row(value='abide', count=54),
 Row(value='inlay', count=2),
 Row(value='consider', count=62),
 Row(value='bet', count=19),
 Row(value='drag', count=13),
 Row(value='lie', count=877),
 Row(value='maintain', count=47),
 Row(value='submit', count=13),
 Row(value='rattle', count=7),
 Row(value='dig', count=20),
 Row(value='form', count=134),
 Row(value='point', count=186),
 Row(value='stir', count=118),
 Row(value='report', count=180),
 Row(value='vomit', count=5),
 Row(value='marry', count=528),
 Row(value='nail', count=39),
 Row(value='implore', count=8),
 Row(value='leave', count=991),
 Row(value='tire', count=38),
 Row(value='rob', count=51),
 Row(value='stray', count=17),
 Row(value='consult', count=6),
 Row(value='wet', count=20),
 Row(value='glance', count=17),
 Row(value='latch', count=3),
 Row(value='sap', count=12),
 Row(value='come', count=3610),
 Row(value='want', count=202),
 Row(value='provide', count=61),
 Row(value='milk', count=25),
 Row(value='digest', count=20),
 Row(value='leer', count=6),
 Row(value='flash', count=8),
 Row(value='give', count=1952),
 Row(value='impair', count=4),
 Row(value='prevent', count=47),
 Row(value='control', count=21),
 Row(value='carry', count=154),
 Row(value='blur', count=2),
 Row(value='place', count=481),
 Row(value='wish', count=254),
 Row(value='tax', count=15),
 Row(value='oblige', count=1),
 Row(value='let', count=2384),
 Row(value='supply', count=42),
 Row(value='sample', count=1),
 Row(value='deprive', count=2),
 Row(value='snap', count=3),
 Row(value='renounce', count=5),
 Row(value='move', count=173),
 Row(value='hit', count=70),
 Row(value='burst', count=30),
 Row(value='accept', count=35),
 Row(value='construe', count=11),
 Row(value='face', count=472),
 Row(value='persuade', count=59),
 Row(value='survey', count=16),
 Row(value='tie', count=53),
 Row(value='spell', count=17),
 Row(value='chide', count=86),
 Row(value='mark', count=270),
 Row(value='signify', count=33),
 Row(value='scowl', count=2),
 Row(value='tear', count=391),
 Row(value='admire', count=21),
 Row(value='drop', count=132),
 Row(value='obtain', count=11),
 Row(value='scream', count=2),
 Row(value='express', count=42),
 Row(value='quarrel', count=123),
 Row(value='permit', count=15),
 Row(value='welcome', count=372),
 Row(value='astonish', count=4),
 Row(value='blow', count=204),
 Row(value='expect', count=50),
 Row(value='saddle', count=10),
 Row(value='pluck', count=130),
 Row(value='waste', count=67),
 Row(value='favour', count=162),
 Row(value='thank', count=467),
 Row(value='board', count=27),
 Row(value='set', count=514),
 Row(value='sweat', count=49),
 Row(value='reflect', count=4),
 Row(value='remain', count=109),
 Row(value='exclaim', count=16),
 Row(value='complete', count=20),
 Row(value='alight', count=2),
 Row(value='enjoy', count=63),
 Row(value='weigh', count=57),
 Row(value='reduce', count=3),
 Row(value='taste', count=93),
 Row(value='bid', count=420),
 Row(value='steal', count=142),
 Row(value='remove', count=56),
 Row(value='guess', count=51),
 Row(value='admit', count=46),
 Row(value='participate', count=2),
 Row(value='trample', count=4),
 Row(value='speak', count=1541),
 Row(value='patch', count=18),
 Row(value='damage', count=3),

In [20]:
final.show()

+---------+-----+
|    value|count|
+---------+-----+
|   insult|   15|
|    apply|   26|
|      vie|    5|
|    argue|   21|
|  imitate|   13|
|   misuse|   10|
|  beseech|  226|
|      nod|   29|
|     envy|   58|
|translate|   15|
|    drink|  278|
| sanctify|   12|
|     deal|   73|
|      eat|  198|
|sacrifice|   29|
|   differ|    8|
|   thrive|   62|
|    allow|   40|
|     view|   84|
| beautify|    6|
+---------+-----+
only showing top 20 rows

In [23]:
final.sort('count', ascending=[False]).show()

+-----+-----+
|value|count|
+-----+-----+
|   be|26727|
| have| 7848|
|   do| 6416|
| come| 3610|
| make| 2892|
|   go| 2575|
| love| 2501|
|  let| 2384|
|  say| 2356|
| know| 2251|
|enter| 2118|
|  see| 2062|
| give| 1952|
| like| 1757|
| take| 1594|
|speak| 1541|
|think| 1504|
| tell| 1356|
| hear| 1336|
|  eye| 1109|
+-----+-----+
only showing top 20 rows

In [24]:
type(final)

pyspark.sql.dataframe.DataFrame